header .navbar-brand img {
    width: 35px;
    height: 35px;
}

header .navbar-brand span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    margin-right: 15px;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd;
}

.user-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .dashboard .btn {
        font-size: 0.9em;
        padding: 8px;
    }

    header,
    footer {
        text-align: center;
        flex-direction: column;
    }

    header nav {
        margin-top: 10px;
    }

    .footer-info,
    .footer-links,
    .footer-social {
        margin-bottom: 20px;
    }
}

body {
    background-color: #f5f9fb;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #f5f9fb;
    font-size: 14px;
    color: #666;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

#showPasswordForm {
    font-size: 0.9rem;
    color: #333;
    border-color: #333;
    transition: background-color 0.3s;
}

#showPasswordForm:hover {
    background-color: #f5f5f5;
}

.table-history {
    max-height: 50px;
    overflow-y: auto;
}

.chart-container {
    width: 100%;
    max-width: 280px;
    height: 200px;

    /* For medium screens (tablets, small laptops) */
    @media (max-width: 1024px) {
        max-width: 250px;
        height: 180px;
    }

    /* For smaller screens (large phones, smaller tablets) */
    @media (max-width: 768px) {
        max-width: 220px;
        height: 160px;
    }

    /* For very small screens (standard smartphones) */
    @media (max-width: 576px) {
        max-width: 180px;
        height: 140px;
    }

    /* For ultra-small screens (like iPhone 14 Pro Max) */
    @media (max-width: 430px) {
        max-width: 160px;
        height: 120px;
    }

    /* For extra-narrow screens (older or mini smartphones) */
    @media (max-width: 360px) {
        max-width: 140px;
        height: 100px;
    }
}
